.inputField {
	float: left;
}

.loginForm {
	margin: 20px;
	font-size: 20px
}

form div {
	margin: 10px;
}

form div input {
	width: 330px;
}

.password input {
	margin-left: 2px;
}

.errors {
	color: red;
}

.submitButton {
	background-color: #1c99b2;
}