#gameOptions {
	border: 1px solid black;
	margin: 20px;
	width: 514px;
	padding: 20px 10px 20px 10px;
	background-color: #90bcce;
	box-shadow: 5px 10px 10px #333333;
}

#gameOptions label {
	font-size: 25px;
	padding: 10px;
	text-align: center;
	margin-left: 125px;
}

#gameOptions button {
	display: inline-block;
	margin: 5px;
	background-color: #1c99b2;
	box-shadow: 4px 4px 10px black;
	font-size: 18px;
}

#gameOptions button:hover {
	background-color: yellow;
}