/*#gameOptions {
	margin: 20px;
	width: 514px;
	padding: 20px 10px 20px 10px;
	background-color: #90bcce;
	box-shadow: 5px 10px 10px #333333;
}

#gameOptions label {
	font-size: 25px;
	padding: 10px;
	text-align: center;
	margin-left: 125px;
}

#gameOptions button {
	display: inline-block;
	margin: 5px;
	background-color: #1c99b2;
	box-shadow: 4px 4px 10px black;
	font-size: 18px;
}

#gameOptions button:hover {
	background-color: yellow;
}

.gameBoard {
	border: 1px solid black;
	margin: 40px 0px 0px 20px;
	width: 250px;
	height: 620px;
	box-shadow: 5px 10px 10px #333333;
	background-color: #f4ede3;
}

.gameBoard h2 {
	text-align: center;
	font-weight: bold;
	margin-bottom: 20px;
}

.gameBoard li {
	font-size: 30px;
	margin: 10px 20px 5px 15px;
	box-shadow: 4px 4px 10px black;
}

.IncorrectResult {
	background-color: red;
	padding-left: 10px;
}

.CorrectResult {
	background-color: green;
	padding-left: 10px;
}

.replayGame {
	margin: 250px;
	width: 350px;
	padding: 20px 10px 20px 10px;
	background-color: #90bcce;
	box-shadow: 5px 10px 20px #333333;
}

.replayGame button {
	display: inline-block;
	margin: 10px 5px 10px 17px;
	background-color: #1c99b2;
	box-shadow: 4px 4px 10px black;
	font-size: 18px;
}

.replayGame button:hover {
	background-color: yellow;
}
*/
