.gameCard {
	border: 1px solid black;
	margin: 100px 0px 15px 0px;
	padding: 10px;
	background-color: #1c99b2;
	box-shadow: 5px 10px #333333;
	height: 380px;
}

.gameCard h2 {
	font-size: 30px;
	font-weight: bold;
	margin-left: 14px;
}

.gameCard h4 {
	text-align: right;
	font-size: 20px;
}

.gameCard p {
	font-size: 30px;
	background-color: #90bcce;
	border: 1px solid black;
	margin: 0;
	padding: 5px;
}

.gameCard p:hover {
	background-color: yellow;
}

.gameCard .createdByUser {
	margin-left: -200px;
	margin-right: 180px;
}