#app-title {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 5px 0 10px 0;
	border: 1px solid black;
	color: white;
	background-color: black;
}

#info {
	margin-right: 50px;
	font-size: 1.1em;
}

#info p {
	text-align: justify;
}
