.leaderBoard {
	text-align: center;
	padding: 20px;
	background-color: #90bcce;
	box-shadow: 5px 10px 10px #333333;
	height: 697px;
}

.leaderBoard button {
	margin: 4px;
	padding: 3px;
	box-shadow: 1px 2px 8px #333333;
	color: black;
	font-size: 14px;
}

.leaderBoard button:hover {
	background-color: yellow;
	color: black;
}

div .topUser {
	font-size: 16px;
	border: 1px solid black;
	margin: -10px;
	text-align: left;
}

.user1 {
	background-color: #efdec9;
}

.user2 {
	background-color: #edb878;
}

.leaderScores {
	margin-top: 10px;
	box-shadow: 3px 5px 20px #333333;
}

.leaderBoard p.leaderboardNotice {
	padding-top: 10px;

}

.leaderBoard h4.cdategory {
	margin-left: 60px;
}

.leaderBoard p.category {
 margin-left: -60px;
 font-size: 18px;
 margin-top: 8px;
}

#currentUserRanking {
	
	padding-top: 10px;
	box-shadow: 1px 2px 30px #333333;
}

.currentUserRanking {
	margin-left: 24px;
	margin-top: -7px;
}

.currentUserScore {
	margin-top: -7px;
	margin-left: -70px;
}
