#leader-board {
	border: 1px solid black;
	text-align: center;
	background-color: #008B8B;
	box-shadow: 6px 6px 15px black;
	padding: 25px;
}

#leader-board #title {
	margin-top: -15px;
}

#category {
	text-align: left;
	margin-bottom: 2px;
}

#categoryBtn {
	margin: 3px;
}
#categoryBtn button {
	margin: 3px;
	font-size: 1em;
	box-shadow: 4px 4px 10px black;
	background-color: #ff9000;
	color: black;
}

#categoryBtn button:hover {
	background-color: white;
	color: black;
}

.leaderboardNotice{
	margin-top: 10px;
}

#top-users {
	border: 2px dashed black;
}

#top-users .top-user {
	padding-top: 10px;
	border: 1px solid black;
	font-size: 1.1em;
}

#top-users .top-user.user1 {
	background-color: #f9efef
}

#top-users .top-user.user2 {
	background-color: #b7b7b7
}