#UserStatistics {
	border: 1px solid black;
	/*margin-left: 20px;*/
	/*margin-right: -10px;*/
	text-align: center;
	background-color: #90bcce;
	box-shadow: 5px 10px 10px #333333;
	/*padding-bottom: 9px;*/
}

#totalResults {
	font-size: 20px;
}

#totalResults p {
	margin-top: -10px;
}

#UserStatistics .categoryResults p {
	margin-top: -2px;
}
